.allPokemons {
    &__list {
        flex-grow: 1;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 0;
    }
    &__list .nav-tabs {
        border-bottom: none;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.pokemonCard {
    height: 350px;
    width: 250px;

    margin: 15px;

    display: flex;
    justify-content: space-between;

    &__title {
        font-size: 1.25rem;
    }
    &__img {
        width: 100%;
    }

    &:hover {
        border-color: #fbd743;
        box-shadow: 0px 0 5px 1px #fbd643a1;
        transition: all 0.5s;
        cursor: pointer;
    }
}

.button__catch {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
