.pokemonCard {
    height: 350px;
    width: 250px;
    border-radius: 5px;

    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        font-size: 1.25rem;
    }
    &__img {
        width: 100%;
    }
}
