.page-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.page-wrapper {
    .navigation__list {
        padding-top: 1%;
        background-color: #007bff10;
        border-bottom: none;
    }
    .navigation__item {
        a {
            padding: 20px;
        }
        &:hover {
            background-color: #007bff;
            border-radius: 5px;
            .active {
                color: #495057;
                cursor: inherit;
            }
            a {
                color: white;
            }
        }
    }
}
.main-wrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    padding: 2%;
}

.allPokemons {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__list .nav-tabs {
        border-bottom: none;
    }
    &__item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.main_footer {
    display: flex;
    justify-content: center;
}
