.pokemonInfo {
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
.list-group-flush {
    text-align: center;
}

.img-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.button__let-go {
    margin-top: 40px;
}

.spinner-wrapper {
    display: flex;
    justify-content: center;
}
